<!--{% load dictaccess %}-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=620">
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=3.5.1'></script>
<title>Term Sheet Rater</title>
</head>
<body>

<div id="part1" class="container" style="display: block; opacity: 1; height: 100%; padding:1%;" onClick="showpart1();">
</br></br></br></br>
  <div id="holder">
    <h1 style="width:100%;text-align:center;position:absolute;top:50%;margin-top:-1em;">Drag and drop your term sheet!</h1>
  </div></br>
  <p id="upload" ><label>Or Upload Manually Here:<br><input type="file" name = "theFile"></label></p>


  <p id="filereader">File API &amp; FileReader API not supported</p>
  <p id="formdata">XHR2's FormData is not supported</p>
  <p id="progress">XHR2's upload progress isn't supported</p></br>
  <p>Upload progress: <progress id="uploadprogress" min="0" max="100" value="0">0</progress></p></br></br>
</div>


<div id = "part2" style="display: none; height: 100%;" onClick="showpart2();">
  <div id="left" class="container" >
  <form id="termform" method="post">
  {% csrf_token %}

  <h3>Price</h3><br>
  Pre-Money Valuation <input type="text" name="pre-money valuation" /><br><br>
  Amount of the Offering <input type="text" name="amount of the offering" /><br>

  <h3>Anti-Dilution</h3><br>
  <input type="radio" name="anti-dilution" value="average" onClick="showDiv(base);">Weighted Average
  <input type="radio" name="anti-dilution" value="ratchet" onClick="hideDiv(base);">Full Ratchet<br>
  <div id='base' style="display:none;"><br>
    <input type="radio" name="anti-dilution, base" value="narrow">Narrow-Based
    <input type="radio" name="anti-dilution, base" value="broad">Broad-Based<br>
  </div>

  <h3>Pay-to-Play</h3><br>
  <input type="radio" name="pay-to-play" value="yes">Yes
  <input type="radio" name="pay-to-play" value="no">No<br>

  <h3>Board Voting</h3><br>
  Number of Directors Elected by Preferred Stock Holders<input type="text" name="preferred directors" /><br><br>
  Number of Directors Elected by Common Stock Holders<input type="text" name="common directors" /><br>

  <h3>Liquidation Preference</h3><br>

  <input type="radio" name="liq pref, seniority" value="pari passu" onClick="hideDiv(participating);hideDiv(capped);hideDiv(liqamount);">Pari Passu
  <input type="radio" name="liq pref, seniority" value="senior" onClick="showDiv(participating);showDiv(liqamount);">Senior to Common<br><br>
  <div id='participating' style="display:none;">

    <input type="radio" name="liq pref, participating" value="yes" onClick="showDiv(capped);" >Participating
    <input type="radio" name="liq pref, participating" value="no" onClick="hideDiv(capped);">Not Participating<br><br>
  </div>
  <div id='capped' style="display:none;">
    <input type="radio" name="liq pref, capped" value="yes">Capped
    <input type="radio" name="liq pref, capped" value="no">Uncapped<br><br>
  </div>
  <div id ='liqamount' style="display:none;">
  <input type="radio" name="liq pref, amount" value="original purchase price" onClick="hideDiv(amount);">Original Purchase Price
  <input type="radio" name="liq pref, amount" value="X times the original purchase price" onClick="showDiv(amount);">Multiple of the original purchase price<br><br></div>
  <div id = 'amount' style="display:none;">
    What multiple? <input type="text" name="liq pref, amount multiple" /></br>
  </div>

   <span class="lb-half"></span><input type="image" src="/static/css/generatescore1.png" alt="Submit Form" align="right"/>
  </form>
</div>
<div id="right">
  <iframe id="filepreview" src="" style="width:100%; height:100%; frameBorder=1;"></iframe>
</div>
</div>


<div id = "part3" class="container" style="display:none;height: 100%" onClick="showpart3();">
  <div id = "container">
  <h1 style="width:100%;text-align:center;position:absolute;top:250%;margin-top:-3em;">
  Term Sheet Score: <div id="score"></div></h1>
</div>


<script>

$(document).ready(function() {
    $('#termform').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: "/upload/", // the file to call
            success: function(response) { // on success..
                $('#score').html(response); 
                showpart3();
            }
        });
        return false;
    });
});

var holder = document.getElementById('holder'),
    tests = {
      filereader: typeof FileReader != 'undefined',
      dnd: 'draggable' in document.createElement('span'),
      formdata: !!window.FormData,
      progress: "upload" in new XMLHttpRequest
    }, 
    support = {
      filereader: document.getElementById('filereader'),
      formdata: document.getElementById('formdata'),
      progress: document.getElementById('progress')
    },
    progress = document.getElementById('uploadprogress'),
    fileupload = document.getElementById('upload');

"filereader formdata progress".split(' ').forEach(function (api) {
  if (tests[api] === false) {
    support[api].className = 'fail';
  } else {
    // FFS. I could have done el.hidden = true, but IE doesn't support
    // hidden, so I tried to create a polyfill that would extend the
    // Element.prototype, but then IE10 doesn't even give me access
    // to the Element object. Brilliant.
    support[api].className = 'hidden';
  }
});

function showDiv(div) {
  d = eval(div)
  d.style.display = 'block';
}

function hideDiv(div) {
  d = eval(div)
  d.style.display = 'none';
}

function showpart1() {
  part1.style.opacity = 1;
  part2.style.opacity = 0.5;
  part3.style.opacity = 0.5;
  $('html,body').animate({
        scrollTop: $("#part1").offset().top
      }, 1000);
  return false;
}
function showpart2() {
  part2.style.display = 'block';
  part2.style.opacity = 1;
  part1.style.opacity = 0.5;
  part3.style.opacity = 0.5;
  part2.style.display = 'block';
  $('html,body').animate({
        scrollTop: $("#part2").offset().top
      }, 1000);
}
function showpart2noscroll() {
  part2.style.display = 'block';
  part2.style.opacity = 1;
  part1.style.opacity = 0.5;
  part3.style.opacity = 0.5;
  part2.style.display = 'block';
}
function showpart3() {
  part3.style.opacity = 1;
  part1.style.opacity = 0.5;
  part2.style.opacity = 0.5;
  part2.style.display = 'block';
  part3.style.display = 'block';
  $('html,body').animate({
        scrollTop: $("#part3").offset().top
      }, 1000);
}

function readfiles(files) {
    var formData = tests.formdata ? new FormData() : null;
    for (var i = 0; i < files.length; i++) {
      if (tests.formdata) formData.append('file', files[i]);
    }

    // now post a new XHR request
    if (tests.formdata) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/upload/');
      xhr.onload = function() {
        progress.value = progress.innerHTML = 100;
      };

      xhr.send(formData);
      progress.value = progress.innerHTML = 50;
      xhr.onreadystatechange = function() {
        if (xhr.readyState==4 && xhr.status==200)
          {
            progress.value = progress.innerHTML = 0;
            holder.className = '';
            var data = eval('(' + xhr.responseText + ')');
            for (var key in data) {
              if (key.localeCompare('fp') == 0) {
                document.getElementById('filepreview').src = "http://" + window.location.host + "/" + data[key];
              }
              else {
                var elements = document.getElementsByName(key);
                for (var i=0; i<elements.length; ++i) {
                  if (elements[i].value.localeCompare(data[key]) == 0) {
                    elements[i].checked = true;
                    elements[i].click();
                  }
                  else
                    elements[i].value = data[key];
                }
              }
            }
            showpart2();
          }
      }
    }
}

if (tests.dnd) { 
  holder.ondragover = function () { this.className = 'hover'; return false; };
  holder.ondragleave = function () { this.className = ''; return false; };
  //holder.ondragend = function () { this.className = ''; return false; };
  holder.ondrop = function (e) {
    //this.className = '';
    e.preventDefault();
    readfiles(e.dataTransfer.files);
  }
}

fileupload.querySelector('input').onchange = function () {
  readfiles(this.files);
};

</script>
</body>
</html>
