@font-face {
font-family: 'Gotham';
src: url('../fonts/Gotham/gotham.otf') format("opentype");
}
html {
	height:100%;
	width:100%;
    margin: 0;
    padding: 0;
}
head {
	font-family: 'Gotham';
}
body {
	font-family: 'Gotham';
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #353535;
} 
.container {
	border-top: 5px solid #F18C30;
}

.lb-half { display:block; margin-top:-0.5em; }
h3 {margin-bottom: 0; padding-bottom: 0;}
#holder { position:relative;border: 10px dashed #ccc; width: 90%; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #88d0db; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; background-color: #88d0db;}
progress:after { content: '%'; }
progress#uploadprogress::-webkit-progress-bar-value {background-color:#88d0db;}
progress#uploadprogress::-webkit-progress-value {background-color:#88d0db;}
progress#uploadprogress::-moz-progress-bar {background-color:#88d0db;}
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

* {
 box-sizing: border-box;   
}


#left {
 background: #fae263;
 border-left-color:#fae263; 
 padding: 1% 1.5%;
 height: 100%;

}
#right {
}