<!DOCTYPE HTML>

{% load dictaccess %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Term Sheet Rater: {{score}}</title>
	</head>
	<h1>Term Sheet Rater: {{score}}</h1>
	{{result}}
	<form action="/termsheet/" method="post">
	{% csrf_token %}
	{% for term_type in terms %}
	    <b>{{term_type.term}}</b></br>
	    <i>term weight (>=0): <input type="text" name="weight+{{term_type.term}}" placeholder="{{term_type.weight}}"></i></br>
	    {% for choice_type in choices %}
	    	{% if choice_type.term_field.term == term_type.term %}
	    		{% if selected|hash:term_type.term == choice_type.choice_label %}
	    			<input type="radio" name="term+{{term_type.term}}" value="{{choice_type.choice_label}}" checked />{{choice_type.choice_label}}
	    		{% else %}
	    			<input type="radio" name="term+{{term_type.term}}" value="{{choice_type.choice_label}}" />{{choice_type.choice_label}}
	    		{% endif %}
	    		<input type="text" name="value+{{term_type.term}}+{{choice_type.choice_label}}" placeholder="{{choice_type.value}}"></br>
	    	{% endif %}
	    {% endfor %}
	{% endfor %}	

	<input type="submit" value="Generate Score" />
	</form>
</html>