<!--   {% for term_type in terms %}
      
      {% if term_type.term == 'price' %}
        <b>{{term_type.term}}</b></br>
        <input type="text" name="term+{{term_type.term}}" />{{choice_type.choice_label}}</br>
      {% elif term_type.term == 'anti-dilution' %}
        <b>{{term_type.term}}</b></br>
        {% for choice_type in choices %}
          {% if choice_type.term_field.term == term_type.term %}
            <input type="radio" name="term+{{term_type.term}}" value="{{choice_type.choice_label}}" />{{choice_type.choice_label}}
          {% endif %}
        {% endfor %}</br>
      {% elif term_type.term == 'liq pref, seniority' %}
        <b>{{term_type.term}}</b></br>
        {% for choice_type in choices %}
          {% if choice_type.term_field.term == term_type.term %}
            <input type="radio" name="term+{{term_type.term}}" value="{{choice_type.choice_label}}" />{{choice_type.choice_label}}
          {% endif %}
        {% endfor %}</br>
      {% elif term_type.term == 'liq pref, amount' %}
        <b>{{term_type.term}}</b></br>
        {% for choice_type in choices %}
          {% if choice_type.term_field.term == term_type.term %}
            <input type="radio" name="term+{{term_type.term}}" value="{{choice_type.choice_label}}" />{{choice_type.choice_label}}
          {% endif %}
        {% endfor %}</br>
      {% endif %}


  {% endfor %}   -->